.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5vw;
}

.Post-Content {
  margin: 5vw;
}

.Post-actions {
  display: flex;
  justify-content:space-between;
}

.Post-action-item {
  color:aqua;
  width: 33%;
  font-size: medium;
}

.Post-comment-box {
  width: 100%;
}

.Post-comments-section {
  margin-top: 2vw;
  font-size: large;
}

.Post-comment-body {
  min-height: 3vw;
  background-color:cadetblue;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
